# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration file (if any)
instance/

# Environment variables file
.env

# IDE files
.vscode/
*.pycproject
*.pyo
*.pyt
*.idea/

# Compiled Python files
*.pyc

# Compiled C extension
*.so

# Test database
db.sqlite

# System-specific files
.DS_Store
Thumbs.db
